/*--------------------------------------------------------------
	#home-default
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#1.1	feature-product-section
--------------------------------------------------------------*/
.feature-product-section {
	padding-bottom: 80px;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(767px) {
		padding-bottom: 75px;
	}

	.product-grids {
		margin: 0 -15px;

		@include media-query(767px) {
			margin: 0 -7.5px;
		}

		.grid {
			width: calc(33.33% - 30px);
			float: left;
			margin: 0 15px 30px;
			position: relative;

			@include media-query(991px) {
				width: calc(50% - 30px);
			}

			@include media-query(767px) {
				width: calc(50% - 15px);
				margin: 0 7.5px 15px;
			}

			@include media-query(550px) {
				width: calc(100% - 15px);
				float: none;
			}
		}
	}

	.details {
		width: 100%;
		position: absolute;
		left: 40px;
		bottom: 60px;

		@include media-query(1199px) {
			left: 25px;
			bottom: 40px;
		}
	}

	h3 {
		font-size: 26px;
		font-size: calc-rem-value(26);
		margin: 0 0 0.3em;
		text-transform: capitalize;

		@include media-query(1199px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
			margin: 0 0 0.1em;
		}
	}

	.shop-btn {
		font-size: 12px;
		font-size: calc-rem-value(12);
		color: $heading-color;
		font-weight: 500;
		text-decoration: underline;
		text-transform: uppercase;
		letter-spacing: 3px;

		@include media-query(1199px) {
			font-size: 11px;
			font-size: calc-rem-value(11);
		}

		&:hover {
			color: $theme-primary-color;
		}
	}
}


/*--------------------------------------------------------------
#1.2	trendy-product-section
--------------------------------------------------------------*/
.trendy-product-section {
	padding-top: 0;
	padding-bottom: 85px;

	@include media-query(991px) {
		padding-bottom: 95px;
	}

	@include media-query(767px) {
		padding-bottom: 85px;
	}

	.products-wrapper,
	.container-1410 {
		position: relative;
	}


	.product {
		-webkit-transition: all 250ms ease-in-out 0s;
		-moz-transition: all 250ms ease-in-out 0s;
		-o-transition: all 250ms ease-in-out 0s;
		transition: all 250ms ease-in-out 0s;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 20px 0;
	}

	.product-holder {
		position: relative;

		.product-badge {
			background-color: $theme-primary-color;
			font-size: 12px;
			font-size: calc-rem-value(12);
			color: $white;
			padding: 5px 15px;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 25px;
			z-index: 2;
		}
	}

	.product:hover .shop-action-wrap {
		opacity: 1;
		visibility: visible;
		bottom: 35px;
	}

	.shop-action-wrap {
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 15px;
		opacity: 0;
		visibility: hidden;
		@include transition-time(0.3s);
	}

	.shop-action {
		display: inline-block;

		> li {
			float: left;
			text-align: center;
		}

		> li + li {
			margin-left: 5px;
		}

		li a {
			background-color: $white;
			width: 45px;
			height: 45px;
			line-height: 45px;
			color: $black;
			display: inline-block;
			border-radius: 45px;
			box-shadow: 0px 3px 6.58px 0.42px rgba(0, 0, 0, 0.08);
		}

		li a:hover {
			background-color: $black;
			color: $white;
		}

		a i:before {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}

		> li:first-child i:before {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}

		> li:nth-child(2) a {
			line-height: 50px;
		}
	}

	.product-info {
		text-align: center;
		padding-top: 25px;

		h4 {
			font-family: $base-font;
			font-size: 15px;
			font-size: calc-rem-value(15);
			font-weight: 500;
			margin: 0 0 0.5em;
		}

		h4 a {
			color: $heading-color;
		}

		h4 a:hover {
			text-decoration: underline;
		}

		.woocommerce-Price-amount {
			font-family: $heading-font;
			font-size: 16px;
			font-size: calc-rem-value(16);
		}

		ins {
			font-weight: 500;
			color: $heading-color;
			text-decoration: none;
		}

		del {
			display: inline-block;
			padding-left: 8px;
			color: #a9a9a9;
		}
	}

	.more-products {
		font-family: $heading-font;
		font-size: 13px;
		font-size: calc-rem-value(13);
		color: $heading-color;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline-block;
		position: absolute;
		top: 25px;
		right: 150px;

		@include media-query(991px) {
		   top: 15px;
		}

		@include media-query(767px) {
		   right: auto;
		   top: 35px;
		   left: 15px;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}

	.owl-theme .owl-controls {
	    margin-top: 45px;
	    position: absolute;
	    right: 0;
	    top: -123px;

		@include media-query(767px) {
			position: static;
		}
	}

	.owl-theme .owl-controls .owl-nav [class*=owl-] {
	    width: 50px;
	    height: 55px;
	    line-height: 55px;
	    background: $white;
	    padding: 0;
	    color: $heading-color;
	    border-radius: 0;
		border: 1px solid #d6d6d6;
		margin: 0;

		@include media-query(767px) {
		    width: 45px;
		    height: 50px;
		    line-height: 50px;
		}

		&:hover {
			background: $black;

			i:before {
				color: $white;
			}
		}

		i:before {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $black;
		}

	}

	.owl-theme .owl-controls .owl-nav .owl-prev {
		position: relative;
		left: 1px;
	}
}


/*--------------------------------------------------------------
#1.3	deal-section
--------------------------------------------------------------*/
.deal-section {
	@include background-style("../images/deal.jpg", center top, cover, no-repeat, local);
	overflow: hidden;
	position: relative;
	margin: 0 0 110px;

	@include media-query(991px) {
		margin: 0 0 100px;
	}

	@include media-query(767px) {
		margin: 0 0 90px;
	}

	@include widther(1200px) {
		width: calc(100% - 200px);
		margin: 0 0 110px 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container-1410 {
		position: relative;
	}

	.sec-title {
		margin-bottom: 35px;

		h2 {
			font-size: 82px;
			font-size: calc-rem-value(82);
			margin: 0;
			position: relative;
			color: $white;

			@include media-query(991px) {
				font-size: 50px;
				font-size: calc-rem-value(50);
			}

			@include media-query(767px) {
				font-size: 40px;
				font-size: calc-rem-value(40);
			}
		}

	}

	p {
		font-size: 15px;
		font-size: calc-rem-value(15);
		font-weight: 500;
		margin: 1em 0 0;
		color: $black;
	}

	.woocommerce-Price-amount {
		font-family: $heading-font;
		font-size: 40px;
		font-size: calc-rem-value(40);

		@include media-query(767px) {
			font-size: 24px;
			font-size: calc-rem-value(24);
		}
	}

	ins {
		font-weight: 400;
		color: $white;
		text-decoration: none;
	}

	del {
		display: inline-block;
		padding-left: 8px;
		color: #a9a9a9;
	}

	bdi {
		// color: $black;
	}

	#clock {
		font-family: $heading-font;
		color: $black;
		overflow: hidden;
		max-width: 390px;
		margin: 50px -6.5px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-query(767px) {
			max-width: 310px;
			margin: 50px 0;
		}

		> div {
			background-color: $white;
			width: calc(25% - 13px);
			min-height: 88px;
			float: left;
			padding-top: 23px;
			margin: 0 6.5px;
			text-align: center;

			@include media-query(767px) {
				background: $white;
				width: 25%;
				min-height: 85px;
				float: left;
				padding-top: 23px;
				margin: 0 0 0 -1px;
				border: 1px solid #f1f1f1;
			}

		}

		.box > div {
			font-size: 24px;
			font-size: calc-rem-value(24);
			line-height: 0.8em;
		}

		.box span {
			font-size: 12px;
			font-size: calc-rem-value(12);
			text-transform: uppercase;
			font-weight: 500;
		}
	}

	.img-holder {
		position: absolute;
		top: 0;
		right: 0;

		// &:before {
		// 	content: "";
		// 	background-color: #f9f9f1;
		// 	width: 575px;
		// 	height: 90%;
		// 	position: absolute;
		// 	left: 15%;
		// 	bottom: 0;
		// 	z-index: 1;

		// 	@include media-query(1199px) {
		// 		width: 475px;
		// 		height: 475px;
		// 	}

		// 	@include media-query(500px) {
		// 		width: 310px;
		// 		height: 310px;
		// 	}
		// }

		img {
			position: relative;
			left: 50px;
			z-index: 2;

			@include media-query(991px) {
				position: static;
			}
		}
	}
}


/*--------------------------------------------------------------
#1.4	best-seller-section
--------------------------------------------------------------*/
.best-seller-section {
	@extend .trendy-product-section;
	padding-top: 110px;
}


/*--------------------------------------------------------------
#1.5	partners-section
--------------------------------------------------------------*/
.partners-section {
	padding-top: 0;

	.grid {
		width: 20%;
		float: left;
		border: 1px solid #dedede;
		text-align: center;
		margin-left: -1px;
		margin-top: -1px;
		padding: 60px 35px;

		@include media-query(767px) {
			width: 33.33%;
		}

		@include media-query(450px) {
			width: 50%;
		}

		img {
			display: inline-block;
		}
	}
}


/*--------------------------------------------------------------
#1.6	category-section-area
--------------------------------------------------------------*/
.category-section-area {
	padding-top: 0;
	padding-bottom: 80px;

	.all-cat {
		text-align: center;

		ul > li {
			width: 12.5%;
			float: left;
			-webkit-transition: all 250ms ease-in-out 0s;
			-moz-transition: all 250ms ease-in-out 0s;
			-o-transition: all 250ms ease-in-out 0s;
			transition: all 250ms ease-in-out 0s;

			@include media-query(991px) {
				width: 25%;
			}

			@include media-query(550px) {
				width: 33.33%;
			}
		}

		li span {
			display: block;
		}

		a {
			font-family: $heading-font;
			font-size: 16px;
			font-size: calc-rem-value(16);
			color: $text-color;
			display: block;
			padding: 25px 15px;

			@include media-query(767px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
				padding: 15px;
			}
		}

		.fi:before {
			font-size: 50px;
			font-size: calc-rem-value(50);
			color: $black;

			@include media-query(767px) {
				font-size: 40px;
				font-size: calc-rem-value(40);
			}
		}

		li:hover {
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		}

	}
}


/*--------------------------------------------------------------
#1.7	cta-section
--------------------------------------------------------------*/
.cta-section {
	@include background-style("../images/cta.jpg", top center, cover, no-repeat, local);
	background-color: $black;
	padding: 150px 0;


	@include widther(1200px) {
		height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	@include media-query(991px) {
		padding: 100px 0;
	}


	.content-area {
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
	}

	.content-area > span {
		font-size: 12px;
		font-size: calc-rem-value(12);
		font-weight: 500;
		color: $theme-primary-color;
		text-transform: uppercase;
		letter-spacing: 5px;
	}

	h3 {
		font-size: 42px;
		font-size: calc-rem-value(42);
		margin: 0 0 0.3em;
		color: $white;

		@include media-query(991px) {
			font-size: 35px;
			font-size: calc-rem-value(35);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}

	p {
		margin-bottom: 2em;
		color: $white;
	}
}


/*--------------------------------------------------------------
#1.8	instagram-section
--------------------------------------------------------------*/
.instagram-section {
	margin-bottom: 160px;

	@include media-query(991px) {
		margin-bottom: 140px;
	}

	@include media-query(767px) {
		margin-bottom: 130px;
	}

	.instagram-inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.instagram-text {
		background-color: $white;
		padding: 25px 100px;
		text-align: center;
		position: absolute;
		bottom: -50px;
		box-shadow: 10px -10px 50px 0 rgba(0,0,0,.1);

		@include media-query(991px) {
			padding: 20px 80px;
		}
	}

	h3 {
		font-size: 22px;
		font-size: calc-rem-value(22);
		margin: 0;

		@include media-query(991px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}

	p {
		margin: 0;
	}

	.instagram-grids {
		> .grid {
			width: 16.66%;
			float: left;

			@include media-query(767px) {
				width: 33.33%;
			}
		}
	}
}

